<%- include ./partials/header -%>

    <h1> <%= title %></h1>

    <p><%= content %></p>   


    <% console.log(arr); %>

   
    <% arr.forEach(function(post){ %>

        <h1><%= post.title %></h1>
        <p><%= post.Body.substring(0,100) + "..."; %><a href="/post/ <%=  post.title %> > ">Read More</a></p> 
        
    <% }) %>

<%- include ./partials/footer -%>

